@import './common';


.contact {

  .contact-section {
    margin-bottom: 10px;
  }

  .contact-new-site-notice {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    font-size: 15px;
    text-decoration: underline;
  }

  .contact-section:last-child {
    margin-bottom: 0px;
  }

  .contact-info-list-ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  .contact-link {
    display: block;
  }

  .contact-icon-left {
    padding-right: 4px;
  }

  .contact-icon-right {
    left: 4px;
  }
}
