@import './common';

// $project-tile-border-color: rgba(20,40,180,0.6);
$project-tile-border-color: rgba(20,40,100,0.1);
$project-tile-bg-color: rgba(40,60,80,0.1);


.project-tile{
  display: block;
  margin-bottom: 5px;

  &-header{
    border: 1px solid $project-tile-border-color;
    background-color: $project-tile-bg-color;
    @include box-sizing(border-box);
    @extend %clearfix;

    &-title{
      float: left;
      // border: 1px solid $project-tile-border-color;
      border: 1px solid transparent;
      @include box-sizing(border-box);
      margin: 2px;
      margin-left: 0;
      padding: 1px 4px;
    }

    &-more{
      float: right;
      border: 1px solid $project-tile-border-color;
      @include box-sizing(border-box);
      margin: 2px;
      padding: 1px 4px;
    }
  }

  &-body{
    border: 1px solid $project-tile-border-color;
    border-top: 0;
    background-color: $project-tile-bg-color;
    @include box-sizing(border-box);
    min-height: 30px;
    padding: 1px 4px;
  }
}
